.user-info__name {
  display: block;
  color: var(--color-principal);
  margin-top: 2rem;
  font-size: 4rem;
}

.user-info__title {
  display: block;
  color: var(--color-principal);
  font-size: 2rem;
  font-weight: bold;
}

/* About */
.content__about {
  display: block;

  height: 100%;
  overflow: auto;

  padding: 3rem;
}

.about__header {
  margin-bottom: 2rem;
  display: inline-block;
}

.about__title {
  font-size: 3.2rem;
  position: relative;
}

/* sombra titulo */
.about__title::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3.5rem;

  top: 0.5rem;
  right: -1.5rem;

  background-image: -webkit-repeating-radial-gradient(
    center center,
    var(--color-text),
    var(--color-text) 0.8px,
    transparent 0px,
    transparent 100%
  );
  background-size: 5.7px 6px;
}

.title__color {
  color: var(--color-principal);
}

.about__personal-info {
  display: flex;
  flex-direction: column;
}

.personal-info__bio {
  margin: 3rem 0rem;
}

.personal-info__description {
  padding-right: 3.5rem;
  padding-left: 1.5rem;

  font-size: 2rem;
  text-align: justify;
  line-height: 1.9;
}

.personal-info__data {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.personal-info__list {
  margin-left: 2rem;
}

.personal-info__option {
  margin: 2rem 0;
  padding-left: 1rem;
}

.personal-info__title {
  font-size: 3.5rem;
  color: var(--color-principal);
}

.personal-info__value {
  margin-left: 1.5rem;
  font-size: 2rem;
}

/* Cuadricula de habilidades */
.about__squares {
  margin: auto 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

.squares__option {
  text-align: center;
  margin: 0 1rem;
  padding: 0 1rem;

  border-radius: 10%;
  transition: all 300ms linear;
}

.squares__option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.squares__option:hover .squares__title {
  font-size: 1.2rem;
  color: var(--color-principal);
}

.squares__logo {
  height: 10rem;
  font-size: 9rem;
  margin: 0 auto;
}

.squares__title {
  padding-bottom: 2rem;
  font-size: 1rem;
  transition: all 300ms linear;
}
