.user-info__name{
    display: block;
    color: var(--color-principal);
    margin-top: 2rem;
    font-size: 4rem;

}

.user-info__title{
    display: block;
    color: var(--color-principal);
    font-size: 2rem;
    font-weight: bold;
}
/*  */
.content__about{
    
    align-items:stretch; 
    justify-content: flex-start; 
}
    
/* Cuadricula de habilidades */
.about__squares{
    margin: auto 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction:row;
    align-content: center;

}

.squares__option{
    margin: 1rem;
    font-size: 7rem;
}